<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <vbhex_checkout>
                <active>1</active>
                <title>Pay Using VbhexCheckout</title>
                <description>
                    <![CDATA[Escrow On BlockChain <br/>
                        If you want gUSD,
                        you can buy VOTE coin with Ether from <a target="_blank" href="https://vbhex.com/">homepage</a>
                        or vc tab on any product detail page.
                    ]]>
                </description>
                <order_status>complete</order_status>
                <ex_rate>1</ex_rate>
                <app_id>1</app_id>
                <vote_coin_decm>6</vote_coin_decm>
                <invoice_expiry>60</invoice_expiry>
                <escrow_contract>0x7d5Ca31eB5FD96d53201e57C0eD7b21C45Fb28C8</escrow_contract>
                <mod_contract>0x50a61B63cf8C050411EA96c67B68c952F1E177aE</mod_contract>
                <rpc>https://goerli.infura.io/v3/c9629d5455d540789ac070eff7edb811</rpc>
                <model>Vbhex\Checkout\Model\VbhexCheckout</model>
            </vbhex_checkout>
        </payment>
    </default>
</config>
