<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <vbhex_checkout>
                <active>1</active>
                <title>Pay Using VBHex</title>
                <description>
                    <![CDATA[Escrow On BlockChain <br/>
                        All your fund will be protected by VBHex smart contract.<br/>
If you have dispute, moderators will resolve it for you. <br/>
Please check more details on  <a target="_blank" href="https://vbhex.com/">homepage</a>                        or VBHex tab on any product detail page.
                    ]]>
                </description>
                <order_status>complete</order_status>
                <ex_rate>1</ex_rate>
                <app_id>1</app_id>
                <vote_coin_decm>6</vote_coin_decm>
                <invoice_expiry>60</invoice_expiry>
                <escrow_contract>0x1B22E49674e5b471CE202fb11518FAD560929f76</escrow_contract>
                <mod_contract>0x89E9eB1B423705DC5aDC1FCF09d03612B62af4b6</mod_contract>
                <rpc>https://mainnet.infura.io/v3/f03238993cab4562a75f1567f95bcd84</rpc>
                <model>Vbhex\Checkout\Model\VbhexCheckout</model>
            </vbhex_checkout>
        </payment>
    </default>
</config>
